<footer>
	<div class="container">
		<div class="row py-3">
            <div class="col-md-6 xol-xs-12 col-sm-12 mx-auto">
				<a href="/">Home</a> |
				<a href="/about">About</a> |
				<a href="/contact">Contact</a>
			</div>
		</div>
		<div class="row py-3">
			<div class="col-md-6 xol-xs-12 col-sm-12 mx-auto text-right">
				<p>&copy;2020 AaronsRecipes </p>
			</div>
			<div class="col-md-6 xol-xs-12 col-sm-12 mx-auto text-left">
				<p><a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a> </p>
			</div>
		</div>
	</div>
</footer>